---

---

@import 'colours';
@import 'typography';



* {
  margin: 0;
  padding: 0;
  max-width: 100%;
}

h1 {
  font-family: $ff-hf;
}

body {
  font-family:  $ff-ss;
}


.intro-area {
  display: grid;
  grid-auto-rows: 1fr 5fr 1fr;
  height: 100vh;

  .hero {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  ul {
    list-style: none;
    display: grid;
    grid-template-columns: 2fr max-content max-content 1fr max-content max-content 2fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: center;

    li {
      .logo {
        max-width: fill-available;
      }
    }
  }

  .intro-text {
    justify-self: center;
    align-self: center;

    h1 {
      line-height: 0.8;
      text-shadow: -4px 1px #000000;
      letter-spacing: -5px;
      font-size: 11vmin;
      font-weight: 300;
      color: white;
      text-align: center;
  
    }
  }  
}

.mushrooms {
  display: grid;
  grid-template-columns: repeat(2, minmax(100px, 500px));
  justify-content: center;

  h1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  p {
    padding-right: 50px;
    padding-top: 60px;
  }
}






