<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= {{ "/assets/css/main.css" | relative_url }}
    </head>

    <body>
        <div class="intro-area">
            <!-- put image into md-->
            <img class="hero" src= {{ "assets/images/background_2.jpg" | relative_url }}>
            <!-- put link names into md-->
            <ul>
                <li></li>
                <li>MUSHROOMS</li>
                <li>ABOUT US</li>
                <li><img class="logo" src= {{ "assets/images/hiveurbanfarmslogowhite.svg" | relative_url }}></li>
                <li>SOCIAL</li>
                <li>CONTACT</li>
            </ul>
            <!-- put intro text into md-->
            <div class="intro-text">
                <h1>Bringing<br>Food<br>&amp; People<br>Closer<br>Together</h1>
            </div>
            <!-- put next text into md-->
            <p>Down here</p>
        </div>
        <div id="mushrooms" class="mushrooms">
            <h1>Mushrooms</h1>
            <p>{% capture temp %}{% include mushroom_text.md %}{% endcapture %}
                    {{ temp  | markdownify }}</p>
            <img src= {{ "assets/images/aboutmushroom.jpg" | relative_url }}>
        </div>

    </body>
</html>

